[default]
FileStorePath=target/data/banzai
BeginString=FIX.4.2
ConnectionType=initiator
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=5
JdbcLogHeartbeats=N
FileLogHeartbeats=N
SLF4JLogHeartbeats=N


# Use the following flag in your configuration file.
# It is Y by default, but check to be sure.
ValidateFieldsOutOfOrder=N

# Confirm if the following is there in your configuration, default is Y anyway.
# You should always use a DataDictionary if you are using repeating groups, mentioned in the Quickfix configuration page.
UseDataDictionary=Y

# And this has the path where your data dictionary is present.
DataDictionary=FIX42TT.xml

[session]
SenderCompID=
TargetCompID=Orders
SessionPassword=
SocketConnectHost=
SocketConnectPort=
ResetOnLogon=N

[session]
SenderCompID=
TargetCompID=Securities
SessionPassword=
SocketConnectHost=
SocketConnectPort=
ResetOnLogon=Y
